const BaseCommand = require('../class/BaseCommand.js')

let name = 'ping';
let description = 'Sends a pong message to the user.';

function run(interaction, client) {
    interaction.reply('Pong!');
}

module.exports = new BaseCommand(name, description, run);